/* body {
    background-color: pink;
}
#div {
    border-radius: 20px;
    border-color: blue;
    color: green;
}
#third_heading {
    background-color: red;
}
#mybutton {
    color: white;
    background-color: brown;

} */

/* practice */
.Box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    color: blueviolet;
    background-color: greenyellow;
}